.gallery-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;
    justify-content: center;

    img {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
    }
}