.single-product {
    margin: 15rem 0;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;

    &__info {
        display: grid;
        grid-auto-rows: min-content;
        row-gap: 2rem;
        
        &--cart {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }
    }
}