@import '../../base';

.trending-collection {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    margin-bottom: 15rem;

    h2{
        grid-column: 1 / -1;
        justify-self: center;
        color: $color-secondary;
        font-weight: 300;
    }
}